/* Index style */

body {
    background-color: rgba(243, 219, 191, 0.403);
    width: 600px;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: serif, serif, sans-serif;
    color: rgb(32, 133, 76);
}

.list.recipes {
    font-size: large;
    font-weight: bold;
    font-family: serif, serif, sans-serif;
}

.list.recipes li {
    margin-left: 200px;
}

.recipes-baner {
    height: auto;
    width: 600px;
    border: 1px solid black;
}

/* Recipes style */

.recipe-image {
    height: auto;
    width: 600px;
    border: 1px solid black;
}

h2 {
    font-size: 30px;
    color: rgb(41, 95, 177);
}

.content {
    font-size: 16;
    font-weight: bold;
    font-family: serif, serif, sans-serif;
    color: chocolate;
}

#home-page {
    font-size: 20;
    font-weight: bold;
    font-family: serif, serif, sans-serif;
    color: lightgreen;
    text-align: center;
}